.back-button {
    padding: 10px 20px;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
 
  }
  
  .back-button:hover {
    background-color: #45a049; /* Darker green on hover */
  }
  
  .back-button:focus {
    outline: none;
  }
  

  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.8ms ease;
    text-decoration: none;
    

    
   
  }

  /* Custom styles to hide scrollbar */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}
